<div class="row mb-5">
  <div class="col"></div>
  <div class="col text-center">
      <h2>POST's</h2>
  </div>
  <div class="col text-right">
    <%= link_to new_post_path do %>
      <i class="fas fa-pen-nib fa-2x"></i>
    <% end %>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="row mb-5">
        <h4>Post Search</h4>
        <%= form_with url: posts_path, method: :get, local: true do |f| %>
          <%= f.text_field :search %>
          <%= f.submit 'Search', name: nil %>
        <% end %>
      </div>
      <div class="row">
        <h4>Tag Search</h4>
        <div>
          <% @tag_list.each do |tag| %>
            <%= link_to tag.tag_name, tag_posts_path(tag_id: tag.id) %>
            <%= "(#{tag.posts.count})" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-9">
      <div class="row">
        <% @posts.each do |post| %>
        <div class="col-lg-4 col-sm-6 mb-3">
          <div class="mb-2 text-center">
            <% if post.images.attached? %>
              <%= image_tag post.images[0], size: "150x150", class: "rounded-circle" %>
            <% else %>
              <%= image_tag 'sweets_icecream', size: "150x150", class: "rounded-circle" %>
            <% end %>
          </div>
          <h3 class="text-center">
            <%= link_to post_path(post.id) do %>
              <%= post.title %>
            <% end %>
          </h3>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


