<deiv class="row mb-5">
  <div class="col"></div>
  <div class="col text-center"><h2>店舗一覧</h2></div>
  <div class="col text-right">
    <%= link_to new_admin_shop_path, class: "btn btn-success" do %>
      <i class="fas fa-store"></i><i class="fas fa-plus"></i>
    <% end %>
  </div>
</deiv><!--row-->

<div class="col-lg-8 col-sm-10 mx-auto">
  <table class="table">
    <thead>
      <tr>
        <th>登録日</th>
        <th>店舗名</th>
        <th>所在地</th>
      </tr>
    </thead>

    <tbody>
      <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.created_at.strftime("%Y/%m/%d") %></td>
        <td>
          <%= link_to admin_shop_path(shop.id), class: "text-dark" do %>
            <%= shop.name %>
          <% end %>
        </td>
        <td><%= shop.address %></td>
      </tr>
      <% end %>
      </tbody>
  </table>
</div>

