<div class="text-center mb-5">
  <h2>店舗詳細</h2>
</div>

<div class="row">
  <div class="col text-center">
    <%= image_tag @shop.image, size: "300x300" %><br>
  </div>

  <div class="col">
    <table class="table table-borderless">
        <tbody>
          <tr>
            <th>店舗名</th>
            <td><%= @shop.name %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= @shop.address %></td>
          </tr>
          <tr>
            <th>電話番号(FAX)</th>
            <td><%= @shop.telepone %>(<%= @shop.facsimile %>)</td>
          </tr>
          <tr>
            <th>営業時間</th>
            <td><%= @shop.open_time.strftime("%H:%M") %> ~ <%= @shop.close_time.strftime("%H:%M") %></td>
          </tr>
          <tr>
            <th>店休日</th>
            <td><%= @shop.off_day %></td>
          </tr>
          <tr>
            <th>HP</th>
            <td><%= @shop.website %></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div class="col-lg-8 col-sm-10 mt-5 mx-auto">
  <%= link_to "編集する", edit_admin_shop_path(@shop.id), class: "btn btn-success w-100 btn-lg" %>
</div>
