<div class="text-center mb-5">
  <h2>レビュー詳細</h2>
</div>

<div class="col-lg-8 col-sm-10 container">
  <!--レビュー本体-->
  <div class="card mx-auto　mb-3">
    <div class="card-header bg-transparent">
      <% if @review.user.image.attached? %>
        <%= image_tag @review.user.image, size: "50x50" %>
      <% else %>
        <%= image_tag 'sweets_icecream', size: "50x50" %>
      <% end %>
      <%= @review.user.name %>
      <div id="star-rate<%= @review.id %>">
        <script>
          $('#star-rate<%= @review.id %>').empty();
          $('#star-rate<%= @review.id %>').raty({
            size : 36,
            starOff : '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            half : false,
            readOnly : true,
            score : <%= @review.rate %>,
          });
        </script>
      </div>
    </div><!--card-header-->
    <div class="card-body">
      <div class="card-title">
        <%= @review.title %>
      </div>
      <p class="card-text">
        食べたアイス：<%= @review.ice_name %><br>
        値段：<%= @review.price %>円<br>
        <%= @review.feedback %>
      </p>
    </div><!--card-body-->
  </div><!--card-border-->

  <!--レビューコメント-->
  <div class="mx-auto mt-3 mb-3">
    <% @review.comments.each do |comment| %>
      <% if @review.user.image.attached? %>
        <%= image_tag comment.user.image, size: "50x50" %>
      <% else %>
        <%= image_tag 'sweets_icecream', size: "50x50" %>
      <% end %>
      <%= comment.user.name %>
      <%= comment.comment %>
    <% end %>
  </div>


<%= link_to "レビューの削除", admin_review_path(@review.id), method: :delete, "data-confirm" => "このレビューを削除しますか?", class: "btn btn-danger btn-block" %>