<h1><%= @shop.name %></h1>

<% @reviews.each do |review|%>
  <% if review.user.image.attached? %>
    <%= image_tag review.user.image, size: "50x50" %>
  <% else %>
    <%= image_tag 'sweets_icecream', size: "50x50" %>
  <% end %>

  <%= review.user.name %>
  <%= link_to shop_review_path(review.shop_id, review.id) do %>
    <%= review.title %>
  <% end %>

<% end %>
