<div class="py-5 container">
  <div class="col-lg-6 col-md-8 mx-auto">
      <h2>Review's</h2>
      <h3><%= @shop.name %></h3>
  </div>
</div><!--py-5 container-->


<h1><%= @shop.name %></h1>

<% @reviews.each do |review|%>
  <% if review.user.image.attached? %>
    <%= image_tag review.user.image, size: "50x50" %>
  <% else %>
    <%= image_tag 'sweets_icecream', size: "50x50" %>
  <% end %>

  <%= review.user.name %>
  <%= link_to shop_review_path(review.shop_id, review.id) do %>
    <%= review.title %>
  <% end %>

  <div id="star-rate<%= review.id %>">
    <script>
      $('#star-rate<%= review.id %>').empty();
      $('#star-rate<%= review.id %>').raty({
        size : 36,
        starOff : '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        half : false,
        readOnly : true,
        score : <%= review.rate %>,
      });
    </script>
  </div>

<% end %>
