<h1><%= @shop.name %></h1>

<% if @review.user.image.attached? %>
  <%= image_tag @review.user.image, size: "50x50" %>
<% else %>
  <%= image_tag 'sweets_icecream', size: "50x50" %>
<% end %>

<%= @review.user.name %>
<%= @review.title %>
<%= @review.ice_name %>
<%= @review.price %>円
<%= @review.feedback %>