<h1><%= @shop.name %></h1>
<%= link_to "レビューの編集", edit_shop_review_path(@review.shop.id, @review.id) %>
<%= link_to "レビューの削除", shop_review_path(@review.shop.id, @review.id), method: :delete, "data-confirm" => "この投稿を削除しますか？" %><br>

<% if @review.user.image.attached? %>
  <%= image_tag @review.user.image, size: "50x50" %>
<% else %>
  <%= image_tag 'sweets_icecream', size: "50x50" %>
<% end %>

<%= @review.user.name %>
<%= @review.title %>
<%= @review.ice_name %>
<%= @review.price %>円
<%= @review.feedback %>
