<h1><%= @shop.name %></h1>
<% if @review.user == current_user %>
  <%= link_to "レビューの編集", edit_shop_review_path(@review.shop.id, @review.id) %>
  <%= link_to "レビューの削除", shop_review_path(@review.shop.id, @review.id), method: :delete, "data-confirm" => "この投稿を削除しますか？" %>
<% end %><br>

<% if @review.user.image.attached? %>
  <%= image_tag @review.user.image, size: "50x50" %>
<% else %>
  <%= image_tag 'sweets_icecream', size: "50x50" %>
<% end %>

<%= @review.user.name %>
<%= @review.title %>
<%= @review.ice_name %>
<%= @review.price %>円
<%= @review.feedback %>
<div id="star-rate<%= @review.id %>">
  <script>
    $('#star-rate<%= @review.id %>').empty();
    $('#star-rate<%= @review.id %>').raty({
      size : 36,
      starOff : '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      half : false,
      readOnly : true,
      score : <%= @review.rate %>,
    });
  </script>
</div>

<div>
  <% @review.comments.each do |comment| %>
    <% if @review.user.image.attached? %>
      <%= image_tag comment.user.image, size: "50x50" %>
    <% else %>
      <%= image_tag 'sweets_icecream', size: "50x50" %>
    <% end %>
    <%= comment.user.name %>
    <%= comment.comment %>
    <% if comment.user == current_user %>
      <%= link_to "削除", shop_review_comment_path(@shop.id, @review.id, comment.id), method: :delete %>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_with model: [@review, @comment], url: shop_review_comments_path(@shop.id, @review.id) do |f| %>
    <%= f.text_area :comment %>
    <%= f.submit "送信" %>
  <% end %>
</div>
