<div class="text-center mb-5">
  <h2>投稿詳細</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="text-center">
        <% if @user.image.attached? %>
          <%= image_tag @user.image, size: "50x50" %>
        <% else %>
          <%= image_tag 'sweets_icecream.png', size: "50x50" %>
        <% end %>
      </div>

      <table class="table text-center">
        <tbody>
          <tr>
            <td>
              <%= link_to admin_user_path(@user.id), class: "text-dark" do %>
                <%= @user.name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><%= @user.message %></td>
          </tr>
        </tbody>
      </table>

      <%= link_to "投稿の削除", admin_post_path(@post.id), method: :delete, "data-confirm" => "この投稿を削除しますか？", class: "btn btn-danger w-100" %>
    </div>

    <div class="col-lg-8">
      <div class="mb-3">
        <% if @post.images.attached? %>
          <% @post.images.each do |image| %>
            <%= image_tag image, width: 200, height: 200 %>
          <% end %>
        <% end %>
      </div>

      <table class="table table-borderless">
        <tbody>
          <tr>
            <th style="width: 30%">タイトル</th>
            <td><%= @post.title %></td>
          </tr>
          <tr>
            <th>近くの店舗</th>
            <td><%= @post.shop.name %></td>
          </tr>
          <tr>
            <th>できごと</th>
            <td><%= @post.content %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

