<div class="col-lg-8 col-sm-10 mx-auto">
  <h2 class="mb-5 text-center">ユーザー情報変更</h2>

  <%= form_with model: @user, url: admin_user_path(@user.id) do |f| %>
    <%= f.file_field :image, accept: "image/*" %>
    <table class="table table-borderless mb-3">
      <tbody>
        <tr>
          <th style="width: 50%">ユーザーID</th>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <th>ユーザーネーム</th>
          <td><%= f.text_field :name, size: 20 %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= f.text_field :email, size: 20 %></td>
        </tr>
        <tr>
          <th>メッセージ</th>
          <td><%= f.text_field :message %></td>
        </tr>
      </tbody>
    </table>

    <div class="actions text-center">
      <%= f.submit '変更を保存する', class: "btn btn-success" %>
    </div>
  <% end %>

</div>

