<% if user.image.attached? %>
  <%= image_tag user.image, size: "50x50" %>
<% else %>
  <%= image_tag 'sweets_icecream', size: "50x50" %>
<% end %>

<table class="table">
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(user.id) do %>
          <%= user.name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= user.message %></td>
    </tr>
  </tbody>
</table>

