<div class="py-5 container">
  <div class="row">
    <div class="col-lg-8 col-sm-10 mx-auto">
      <%= form_with model: @user, url: user_path(@user.id) do |f| %>
        <%= f.file_field :image, accept: "image/*" %>

        <div class="field">
          <%= f.label :name, "ユーザーネーム" %>
          <%= f.text_field :name, size: 20 %>
        </div>

        <div class="field">
          <%= f.label :email, "メールアドレス" %>
          <%= f.text_field :email %>
        </div>

        <div class="field">
          <%= f.label :message, "メッセージ" %>
          <%= f.text_field :message %>
        </div>

        <div class="actions">
          <%= f.submit '変更を保存する' %>
          <%= link_to "退会する", unsubscribe_users_path %>
        </div>

      <% end %>
    </div>
  </div>
</div>
