<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/users/user', user: @user %>
      <% if @user == current_user %>
        <%= link_to "編集", edit_user_path(@user.id) %>
      <% end %>
    </div>

    <div class="col-md-9">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th></th>
            <th>タイトル</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td>
              <% if post.images.attached? %>
                <%= image_tag post.images[0], size: "50x50" %>
              <% else %>
                <%= image_tag 'sweets_icecream', size: "50x50" %>
              <% end %>
            </td>
            <td>
              <%= link_to post_path(post.id) do %>
                <%= post.title %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <table class="table table-borderless">
        <thead>
          <tr>
            <th>タイトル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
          <tr>
            <td>
              <%= link_to shop_review_path(review.shop_id, review.id) do %>
                <%= review.title %>
              <% end %>
            </td>
            <td>
              <div id="star-rate<%= review.id %>">
                <script>
                  $('#star-rate<%= review.id %>').empty();
                  $('#star-rate<%= review.id %>').raty({
                    size : 36,
                    starOff : '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    half : false,
                    readOnly : true,
                    score : <%= review.rate %>,
                  });
                </script>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

