<!DOCTYPE html>
<html>
  <head>
    <title>Ice Cream Search</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <header class="fixed-top" style="height:200px; background-color:#ffffff;">
        <!--ヘッダー画像-->
        <nav class="navbar navbar-light justify-content-center">
          <a class="" href="/"><%= image_tag 'logo2.png' %></a>
        </nav>

        <!--ヘッダーメニュー-->
        <nav class="navbar navbar-expand" style="background-color:#fecf8d;">
          <div class="container-fluid">
              <ul class="navbar-nav w-50 nav-justified ml-auto mr-auto">
                <% if user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to "店舗一覧", shops_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "投稿一覧", posts_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "マイページ", user_path(current_user.id), class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
                  </li>
                <% elsif admin_signed_in? %>
                  <li class="nav-item">
                    <%= link_to "ユーザー一覧", admin_users_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "店舗一覧", admin_shops_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "投稿一覧", admin_posts_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "レビュー一覧", admin_reviews_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to "店舗一覧", shops_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "投稿一覧", posts_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <main>
        <div style="margin-top:200px;"></div>
        <div class="py-5 container"><%= yield %></div>
      </main>

      <footer></footer>
    </div>
  </body>
</html>
